<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info | CourseCache</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/about.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
</head>


<body>

  <a href="/"><img src="img/toplogo.png" class="nav_item_logo"></a>
  <!-- <div class="nav_item_name"> <a href = "/" style="color:#00144D"> CourseCache</a> </div> -->
  <div class="nav_item"> <a href="/contact" style="color:#00144D">Contact</a> </div>
  <div class="nav_item"> <a href="/about" style="color:#00144D">About</a> </div>

  <br><br>

</body>

<div class="bottom_section">

  <div class="heading_text" id="course_name">
    About
  </div>
  <br><br>
</div>
<div class="container_box">
  <div class="subheading_text">
    In 1973 Steve Jobs sat in Robert Palladino's calligraphy class at Reed College on a whim; he found it
    fascinating and decided to learn more despite having no hope of it having any practical application in his life.
    Yet, 10 years later, he credited it as the inspiration for the beautiful typography in the first Macintosh computer and – even more –
    in all personal computers we use today.

  </div>
  <div class="subheading_text">
    CourseCache is a website developed by students for students to encourage this educational exploration beyond the standard
    requirement tracks lined by our majors. Whether someone wants to find something new or delve deeper into their concentration field,
    they can use CourseCache as a better way to search for and discover courses they are interested in.
  </div>
  <div class="subheading_text">
    That's how we can get the most out of our education. We made CourseCache to help
    lead students towards courses they can find great value in, but might not have known about otherwise.
  </div>
  <div class="subheading_text">
    We hope you enjoy CourseCache!
  </div>
  <div class="description_text_header">
    "If I had... never dropped in on this calligraphy class, personal computers might not have the wonderful typography that they do. Of course it was impossible to connect the dots looking forward when I was in college. But it was very, very clear looking backward 10 years later."
  </div>
  <div class="description_text_header2">
    – <strong>Steve Jobs</strong>, <br>Stanford University Commencement, 2005
  </div>
</div>


</html>
