<!DOCTYPE html>
<html lang="en">

<head>
  <title>Info | CourseCache</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/contact.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146368283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146368283-1');
</script>

</head>


<body>

  <a href="/"><img src="img/toplogo.png" class="nav_item_logo"></a>
  <!-- <div class="nav_item_name"> <a href = "/" style="color:#00144D"> CourseCache</a> </div> -->
  <div class="nav_item"> <a href="/contact" style="color:#00144D">Contact</a> </div>
  <div class="nav_item"> <a href="/about" style="color:#00144D">About</a> </div>

  <br><br>

</body>

<div class="bottom_section">

  <div class="heading_text" id="course_name">
    Contact
  </div>
  <br><br>
</div>
<div class="container_box">
  <div class="subheading_text">
    Have any questions or want to contribute by adding your university to CourseCache? <br>Reach us at coursecache@gmail.com!
  </div>

  <div class="subheading_text2">
    We hope you enjoy CourseCache!
  </div>
  <div class="description_text_header">
    <img src="img/logo.png" class="scroll_logo">
  </div>
</div>


</html>
