<% include ./partials/header%>

<h1>
	Welcome to Course Cache, where you find the course that makes you feel whole.
</h1>

<div>
	<form action="/school>", method="GET"> 
		<input type="text" placeholder="school" name="school">
		<input type="submit">
	</form>
	
</div>

<% include ./partials/footer%>