<% include ./partials/header%>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>CourseCache</title>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146368283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146368283-1');
</script>

</head>

<body>

  <!-- <img id="splash" src="img/upgrade.png" alt="University background" style="width:100%;"> -->
  <a href="/"><img src="img/toplogo.png" class="nav_item_logo"></a>
  <!-- <div class="nav_item_name"> <a href = "/" style="color:#00144D"> CourseCache</a> </div> -->
  <div class="nav_item"> <a href="/contact" style="color:#00144D">Contact</a> </div>
  <div class="nav_item"> <a href="/about" style="color:#00144D">About</a> </div>


  <div id="banner">
    <div id="title_container">
      <div id="title">CourseCache</div>
    </div>
  </div>

  <br>
  <br>

  <form action="/school" , method="GET">
    <div class="header_container">

      <div class="hot_courses_title">Find courses at</div>


      <select class="custom-select" id="university" name="university">
        <option value="brown">Brown University</option>
        <option value="western">Western University</option>
      </select> <br>
    </div>
    <div class="center_page">
      <button type="button submit" class="custom-button">Continue</button>
    </div>

  </form>
<div class="empty">	</div>
</body>

<div class="bottom_section"> 
  <br>
  CourseCache is a website to encourage educational exploration beyond the standard requirement tracks lined by our majors. We hope CourseCache can help you search for and discover courses you are interested in.
	<br><br>
	Thanks for using CourseCache!
  <br> <br>
  <img src="img/logo.png" class="bottom_logo">
</div>
<div class="empty"> . </div>	
</html>
<% include ./partials/footer%>
