
#title_container {
  max-width: 40vw;
  margin: 0 auto;
  padding-top: 15vh;
}

.empty {
  color: white;
  position:relative;
  text-align: center;
  width:100%;
}

#logo {
    max-width: 20%;
}
body {
    font-family: 'Work Sans', sans-serif;
    background: #E6F4FF;
}

.title {
    font-family: 'Work Sans', sans-serif !important;
}

.nav_container {
  width:100%;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
  height:5%
}

.nav_item {
    font-family: 'Work Sans', sans-serif;
    margin-right: 5%;
    float: right;
    vertical-align: middle;
    font-size: 1vw;
    margin-top: 2.25%;
}

.nav_item_name {
  font-family: 'Work Sans', sans-serif;
  float:left;
  margin-left: 0.4%;
  margin-top: 2.4%;
  vertical-align: middle;
  font-size: 1.3vw;
  max-height:100%;
  max-width:100%;
}

.nav_item_logo {
  font-family: 'Work Sans', sans-serif;
  float:left;
  margin-left: 4%;
  margin-top:1.71%;
  vertical-align: middle;
  font-size: 1.3vw;
  max-width:13.4vw;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  background-image: url("../img/dropdown.png");   /* add custom arrow  */
  background-size: 100%;
  background-position: right center;
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  border: 1px solid #DBDADA;
  border-radius: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 3%;
  margin-right: 17px;
}

.custom-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  border: 1px solid #DBDADA;
  border-radius: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
}

.custom-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  border: 1px solid #DBDADA;
  border-radius: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
}

.options {
  text-align: center;
  color: #DBDADA;
}

.center_page {
  margin-top: 8px;
  text-align: center;
}

.bottom_section {
  position:relative;
  top:60px;
  margin: 0 auto;
  text-align: left;
  width:100%;
  margin-bottom: 5%;
  margin-left: 3%;

}

.header_container {
  margin: 0 auto;
  text-align: left;
  margin-left: 3%;
  width:100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.95vw;
  font-weight: bold;
  margin-bottom: 2.5vw;
}

.hot_courses_title {
  position:relative;
  margin-top: 8px;
  text-align: left;
  margin-left: 4%;
  display: inline;
}

.bottom_link {
  margin-left: 7%;
}

.course_suggestion_box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  font-family: 'Work Sans', sans-serif;
  color: #1A1A1A;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  border: 2px solid #DBDADA;
  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 18px;
  width:70%;
  vertical-align:top;
}


.heading_text {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.05vw;
  position: relative;
  text-align: left;
  margin-bottom: 18px;
  line-height: 106%;
}

.subheading_text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.31vw;
  position: relative;
  text-align: left;
  margin-bottom: 5px;
}

.description_text_header {
  position:relative;
  width: 90%;
  text-align: left;
  font-size: 1.1vw;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 133%;
}

.description_text {
  position:relative;
  width: 90%;
  text-align: left;
  font-size: 1.1vw;
  margin-top: 7px;
}

.description_text_read_more {
  position:relative;
  margin-top: 8px;
  width: 90%;
  text-align: left;
  font-size: 1vw;
  color: #93B9D4;
}

.scroll_logo {
  position:fixed;
  width:12%;
  right: 5.9%;
  top:44%;
}

.description_text_header2 {
  position:relative;
  width: 90%;
  text-align: left;
  font-size: 1.1vw;
  font-weight: normal;
  margin-top: 6.5%;
  line-height: 133%;
  margin-left: 2.2%;
}

#heading {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.9vw;
}
#search.prompt {
  width: 35vw;
  }


#desktop_search_container {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

#desktop_search_container2 {
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  width: 50%;
  text-align: center;
}

#title {
    /*font-family: 'Inknut Antiqua', serif;*/
    font-family: 'Work Sans', sans-serif;
    /*text-shadow: 0.5px 0px 0px;*/
    font-size: 3.2vw;
    font-weight: bold;
    margin-bottom: 1.2vw;
    margin-top: 10%;
    text-align: center;
}

.para_text {
    text-align: justify;
    /*font-family: 'Exo', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    hyphens: auto;
    text-justify: newspaper;
}

@keyframes appear {
    0% {opacity: 0}
    35% { opacity: 0 }
    100% { opacity: 100% }
}
